* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00a651;
    color: white;
    padding: 20px 100px;
    text-align: left;
}

.application-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
}

.application-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.application-form {
    background-color: #f7f7f7;
    padding: 20px;
}

.section-title {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-align: left;
}

.culture-info {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.input-group {
    flex: 1;
    min-width: 250px;
}

.culture-type-label {
    padding: 0 0px 7px 0px;
}

.harvest-amount-label {
    padding: 0 0px 7px 0px;
}

select, input {
    width: 80%;
    padding: 12px;
    border: 1px solid #e5e5e5;
    font-size: 1rem;
    background-color: #e5e5e5;
}

.input-limit {
    font-weight: 100;
    font-size: 0.9rem;
    margin: 10px 0px 0px 0px;
    color: #696969;
}

.services-section {
    margin-top: 10px;
}

.service-item {
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.service-image {
    width: 150px;
    height: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    flex-wrap: wrap;
}

.service-name {
    font-weight: bold;
    width: 200px;
    color: #00a651;
    margin-left: 8px;
}

.service-price {
    width: 140px;
}

.service-usage {
    width: 180px;
    height: 30px;
}

.service-value {
    width: 105px;
    font-weight: bold;
    text-align: left;
}

.service-cost {
    width: 83px;
    font-weight: bold;
    color: #00a651;
    text-align: left;
}

.total-label {
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 10px;
}

.total-amount {
    font-weight: bold;
    font-size: 1.5rem;
    color: #00a651;
}

.compact-select {
    height: 30px; 
    padding: 4px 8px; 
    font-size: 0.9rem; 
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}

.service-labels {
    display: flex;
    width: 100%;
    margin-top: 15px;
    padding: 0 4px;
    justify-content: space-between;
    font-size: 0.85rem;
    color: gray;
    margin-bottom: 10px;
}

.service-label {
    text-align: center;
    flex-shrink: 0;
    padding: 0 5px;
}

.service-label:nth-child(1) { 
    width: 200px; 
    text-align: left;
}
.service-label:nth-child(2) { 
    width: 180px; 
    text-align: left;
}
.service-label:nth-child(3) { 
    width: 138px; 
    text-align: left;
}
.service-label:nth-child(4) { 
    width: 100px; 
    text-align: left;
}
.service-label:nth-child(5) { 
    width: 80px; 
    text-align: center;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding-top: 20px;
}

.total-section {
    text-align: left;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #c82333;
}

.coefficient-input {
    width: 70%;
    height: 20px;
    padding: 4px 8px;
    font-size: 0.9rem;
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;
}

.buttons-group {
    display: flex;
    gap: 15px;
}

.btn-save {
    background-color: #00a651;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-save:hover {
    background-color: #008f45;
}